.container{
    padding: 1.2rem;
    /* color:#0B1B2D;
    background-color: #AEC9E5; */
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.navBarOptionContainer{
    display: flex;;

}

.navBarOptionContainer > div.buttonJoin{
    cursor: pointer;
    background:#CD8987;
    border-radius: 10px;
    padding-block:0.6rem;
    padding-inline: 1.2rem;
    color:white;
    font-size: 0.7rem;
    font-weight: bold;
  }