.allUserProfile{
    max-width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.userCard{
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    border-radius: 10px;



}
.userCard:hover{
    background-color: rgb(224, 211, 211);

}
.userCard_image{
    width: 10%;
    border-radius: 50%;
}

